<h1>Welcome to the Greatest Racing Game Ever Conceived and Birthed and Nurtured to Adulthood</h1>

<form id ="signup" action="/" method="post">
  Player 1   <input type="text" name="player1" placeholder="Put your name on it">
  Player 2   <input type="text" name="player2" placeholder="Put your name on it">
  <input type="submit" value="Let's Race">
</form>




